{% extends 'base.html' %}

{% block content %}
<div class="row text-center">
    <div class="col">
        <h1>Dobrodošli na X2</h1>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-4 mx-auto col-10">
        <form class="form" id="forma-objava-kreiraj" method="POST" action="/objava-kreiraj">
            {% csrf_token %}
            <div class="d-none alert alert-danger" id="objava-kreiraj-forma-error"></div>
            <input type="hidden" value="/" name="next"/>
            <textarea required="required" class="form-control" name="sadrzaj" placeholder="Vaša objava..."></textarea>
            <br/>
            <button type="submit" class="btn btn-primary">Objavi</button>
        </form>
    </div>
</div>

<div class="row" id="objave">
    Učitava se...
</div>

<script>
    const formaObjavaKreirajElement = document.getElementById("forma-objava-kreiraj");
    const objaveElement = document.getElementById("objave");

    function handleObjavaFormaError(msg, display) {
        var myErrorDiv = document.getElementById("objava-kreiraj-forma-error");
        if (display === true) {
            myErrorDiv.setAttribute("class", "alert alert-danger");
            myErrorDiv.innerText = msg;
        } else {
            myErrorDiv.setAttribute("class", "d-none alert alert-danger");
        }
    }

    function handleFormaObjavaKreirajSubmit(event) {
        event.preventDefault();
        const mojaForma = event.target;
        const mojFormData = new FormData(mojaForma);
        const krajnjatacka = mojaForma.getAttribute("action");
        const metod = mojaForma.getAttribute("method");
        const xhr = new XMLHttpRequest();
        xhr.open(metod, krajnjatacka);
        // Da bi AJAX bio TRUE ove dve linije ispod
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest");
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        xhr.onload = function() {
            if (xhr.status === 201) {
                handleObjavaFormaError("", false);
                const novaObjava = xhr.response;
                const novaObjavaJSON = JSON.parse(novaObjava);
                const noviObjavaElement = formatirajObjaveElement(novaObjavaJSON);
                const ogHtml = objaveElement.innerHTML;
                objaveElement.innerHTML = noviObjavaElement + ogHtml;
                mojaForma.reset();
            } else if (xhr.status === 400) {
                const sadrzajError = xhr.response.sadrzaj;
                let sadrzajErrorPoruka;
                if (sadrzajError) {
                    sadrzajErrorPoruka = sadrzajError[0];
                    if (sadrzajErrorPoruka) {
                        handleObjavaFormaError(sadrzajErrorPoruka, true);
                    } else {
                        alert("Došlo je do greške.");
                    }
                } else {
                    alert("Došlo je do greške :(");
                }
            } else if (xhr.status === 401) {
                alert("Morate se prijaviti na Vaš nalog da biste nastavili.");
                window.location.href = "/login";
            } else if (xhr.status === 500) {
                alert("Došlo je do greške na serveru. Pokušajte ponovo.");
            }
        };
        xhr.onerror = function() {
            alert("Došlo je do greške. Pokušajte ponovo kasnije.");
        };
        xhr.send(mojFormData);
    }

    formaObjavaKreirajElement.addEventListener("submit", handleFormaObjavaKreirajSubmit);

    const ucitajObjave = function(objaveElement) {
        const xhr = new XMLHttpRequest();
        const method = "GET";
        const url = "/objave";
        const responseType = "json";

        xhr.responseType = responseType;
        xhr.open(method, url);
        xhr.onload = function() {
            var listaObjava = xhr.response.response;
            var objaveString = "";
            var i;
            for (i = 0; i < listaObjava.length; i++) {
                    var objava = formatirajObjaveElement(listaObjava[i]);
                    objaveString += objava;
            }
            objaveElement.innerHTML = objaveString;
        };
        xhr.send();
    }

    ucitajObjave(objaveElement);

    function lajkDugme(objava) {
        return "<button class='btn btn-primary btn-sm' onclick='handleLajkDugme(" + objava.id + ", " + objava.svidjanja + ")'>"
            + objava.svidjanja + " Sviđa mi se</button>"
    }

    function handleLajkDugme(objavaId, brojacSvidjanja) {
        console.log(objavaId, brojacSvidjanja);
    }

    function formatirajObjaveElement(objava) {
        var formatiranString = "<div class='col-12 col-md-10 mx-auto border rounded border-info py-3 mb-4 objava' id='objava-" + objava.id + "'>"
             + objava.id + "<p>" + objava.sadrzaj + "</p><div class='btn-group'>" + lajkDugme(objava) + "</div></div>"
        return formatiranString;
    }
</script>
{% endblock content %}